{% extends "tethys_apps/app_header_content.html" %}

{% load static tethys_gizmos %}
{% load tethys_gizmos %}

{% block inner_app_content %}
  <div id="inner-app-content" class="container-fluid">
    <div class="row" style="height:100%;">
    
	    <div class="col-md-6" style="max-height:100%;overflow: auto;">
		    {# left column content #}
	        {% block app_content_lc %}
	          <form method="post">
                {% csrf_token %}
                {% gizmo select_input eo_select_options %}
                <input name="eo_submit" type="submit" value="Update" class="btn btn-default">
              </form>
              {% gizmo eo_map_options %}
            {% endblock %}
	    </div>
	    
	    <div class="col-md-6" style="max-height:100%;overflow: auto;">
		  {# right column content #}
	      {% block app_content_rc %}
	          <form method="post">
                {% csrf_token %}
                {% gizmo select_input forecast_select_options %}
                <input name="forecast_submit" type="submit" value="Update" class="btn btn-default">
              </form>
              {% gizmo forecast_map_options %}
	      
	      {% endblock %}
	    </div>
	    
    </div>
  </div>
{% endblock %}
