{% extends "tethys_apps/app_header_content.html" %}


{% load static tethys_gizmos %}
{% load tethys_gizmos %}


{% block inner_app_content %}

  <div id="inner-app-content" class="container-fluid">
    <div class="row" style="height:100%;">
    
	    <div class="col-md-6" style="max-height:100%;overflow: auto;">
		    {# left column content #}
	        {% block app_content_lc %}
	          <form method="post">
                {% csrf_token %}
                <table style="width:100%">
                  <tr>
                    <td>
                      {% gizmo select_input eo_select_options %}
                    </td>
                    <td>
                      {% gizmo select_input eo_years_options %}
                    </td>
                  </tr>
                </table>
                {% gizmo select_input eo_months_options %}
                
                <input name="eo_submit" type="submit" value="Update Map" class="btn btn-default" style="width:15%;">
                
              </form>
              {# % gizmo eo_map_options % #}

	          <div id="map_eo" class="map">
	          </div>

	          <div id="my-attributes" data-eo-layers="{{ eo_layers }}"></div>
	          
	          <script>

				var eo_layers = $('#my-attributes').data('eo-layers');
				console.log('LAYERS: ', eo_layers);
				
				var map = new ol.Map({
				  target: 'map_eo',
				  layers: [
					new ol.layer.Tile({
					  source: new ol.source.OSM(),
					}),
					new ol.layer.Image({
					  source: new ol.source.ImageWMS({
						url: 'https://chc-ewx2.chc.ucsb.edu:8443/geoserver/wms',
						params: {'LAYERS': eo_layers },
						serverType: 'geoserver',
					  }),
					}), 
				  ],
				  view: new ol.View({
					center: ol.proj.fromLonLat([41, 0]),
					zoom: 5.5
				  })
				});
	          
	          </script>
              <div style="position:relative; left:0; top:0; z-index:1500">
	              <img src="https://chc-ewx2.chc.ucsb.edu/images/legends/precip_monthly_data_raster.png"></img>
	            </div>

            {% endblock %}
	    </div>
	 	    
	    <div class="col-md-6" style="max-height:100%;overflow: auto;">
		  {# right column content #}
	      {% block app_content_rc %}
	          <form method="post">
                {% csrf_token %}
                <table style="width:100%">
                  <tr>
                    <td>
                      {% gizmo select_input forecast_select_options %}
                    </td>
                    <td>
                      {% gizmo select_input forecast_years_options %}
                    </td>
                  </tr>
                  <tr>
                    <td>
                      {% gizmo select_input forecast_months_options %}
                    </td>
                    <td>
                      {% gizmo select_input forecast_dekads_options %}
                    </td>
                  </tr>
                </table>
                <input name="forecast_submit" type="submit" value="Update Map" class="btn btn-default">
              </form>
              
              {# % gizmo forecast_map_options % #}
	          <div id="map" class="map"></div>

	          <div id="my-attributes1" data-forecast-sld="{{ forecast_sld_file }}"></div>
	          <div id="my-sld" message=""></div>
	          
	          <script>
	          
				var forecast_sld_file = $('#my-attributes1').data('forecast-sld');
				console.log('SLD: ', forecast_sld_file);
				document.getElementById("my-sld").innerHTML = "{{ forecast_sld_file }}";
				
				//var current_sld_file = $('#my-sld').data('current-sld');
				//console.log('current sld file: ', current_sld_file);
				//if(current_sld_file == "") {
				//	console.log('SLD current is undefined!!!');
				//	var current_sld_file = forecast_sld_file;
				//	document.getElementById("my-sld").innerHTML = forecast_sld_file;
				//}
				
				//var forecast_sld_current = forecast_sld_file
				//var forecast_sld_file = 'https://chc-ewx2.chc.ucsb.edu/sld/yield_ET_long_201261.sld';
				
				var map = new ol.Map({
				  target: 'map',
				  layers: [
					new ol.layer.Tile({
					  source: new ol.source.OSM(),
					}),
					new ol.layer.Image({
					  source: new ol.source.ImageWMS({
						url: 'https://chc-ewx2.chc.ucsb.edu:8443/geoserver/wms',
						params: {'SLD': forecast_sld_file },
						serverType: 'geoserver',
					  }),
					}), 
				  ],
				  view: new ol.View({
					center: ol.proj.fromLonLat([41, 0]),
					zoom: 5.5
				  })
				});
	          </script>

	          <!-- <script src='main.js'> </script> -->
	


	      {% endblock %}
	    </div>
	    
    </div>
  </div>
{% endblock %}
